<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Recon TestAutomation Test Suite">
    <test name="Recon Test Cases">
         <classes>
            <class name="qa.com.recon.testing.RulesheetTest"/>
            
          </classes>
     </test> 
</suite> 